body {
    font-family: 'Courier New', Courier, monospace;
}

figcaption {
    font-size: 15px;
    font-weight: 300;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    color: #606060;
    margin-top: 10px;
    margin-bottom: 20px;
}

.div-center {
    text-align: center;
}

div>img {
    border-radius: 30px;
}

div>figcaption {

    font-size: 15px;
    font-weight: 300;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    color: #606060;
    margin-top: 10px;
    margin-bottom: 20px;

}